/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

body{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.button-container {
  display: flex;
  gap: 10px; /* space between buttons */
  justify-content: flex-start;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  background-color: #ffffff;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}


img {
  display: none;
  margin: 0 auto;
  max-width: 100%; /* Set the width of the image */
  max-height: 500px; /* Optional: set a maximum width to ensure it doesn't get too large */
  object-fit: cover; /* This ensures the image covers the space and maintains aspect ratio */
  object-position: center;
}

.content-box {
  background-color: #02caca; /* Set background color to purple */
  padding: 20px; /* Add some padding to create space inside the box */
  margin: 30px auto; /* Center the box horizontally */
  max-width: 800px; /* Set a maximum width for the box */
  border-radius: 10px; /* Optional: Add rounded corners */
  color: white; /* Ensure text is readable against the purple background */
  box-shadow: -9px 7px 8px 0px rgb(0, 0, 0); /* Optional: Add a shadow for a nice effect */
  min-height: 550px; /* Set a minimum height for the content box */
  transition: all 0.3s ease-in-out; /* Smooth transitions for height, width, etc. */
  display: flex;
  flex-direction: column; /* Stack content vertically */
  align-items: center; /* Center content inside the box */

  /* Add transition for width and height changes */

  transition: width 0.3s ease, height 0.3s ease;

}


h1, h2, h3 {
  color: white; /* Ensure all headings are white */
}



/******************************************
/* ADDITIONAL STYLES
/*******************************************/
