<!DOCTYPE html>
<html lang="en">
	<head>
  	<meta charset="utf-8">
  	<meta name="description" content="Your description goes here">
  	<meta name="keywords" content="one, two, three">
	<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>Restaurant</title>

		<!-- external CSS link -->
        <script src="https://kit.fontawesome.com/2b64b2c9c5.js" crossorigin="anonymous"></script>
		
		<link rel="stylesheet" href="style.css">
	</head>
    <body>
		<section class="firstSection">
            <!-- <img src="images/Food_Photography___How_to_Take_Unique_and_Creative_Food_Photos_5.webp" alt="fruit salad background"> -->
            <header>
                <nav>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Menu</a></li>
                        <li><a href="#">Order Now</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Location</a></li>
                        <!--Need a Shopping Cart Icon anchor-->
                        <!--Need a search bar form with magnifying glass icon-->
                    </ul>
                </nav>
            </header>

            <h1>Welcome To Our Cuisine Restaurant</h1>
            <input type="text" placeholder="Search here"><button>Location</button> <!--Make this orange and a dropdown-->

            <i class="fa-brands fa-facebook-f">252k</i>
            <i class="fa-brands fa-twitter">62k</i>
            <i class="fa-brands fa-instagram">55k</i>

        </section>

        <section class="secondSection">
            <h2>about us</h2>
            <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, voluptates.</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum, reiciendis perferendis? Ducimus incidunt tenetur recusandae cupiditate nihil, neque, ullam amet autem unde quis perspiciatis voluptatum molestias? Numquam ullam possimus explicabo!</p>
            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, porro?</span>
            <button>Discover Menu</button>
        </section>
	</body>
</html>